.main-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container > div {
    padding: 0px 10px;
}

.chart-container {
    height: 320px;
    max-width: 675px;
    flex: 0 0 auto;
    width: 45%;
}

body {  
    padding: 16px;
  }