.main-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container > div {
    padding: 0px 10px;
}

.chart-container {
    height: 350px;
    max-width: 680px;
    flex: 0 0 auto;
    width: 45%;
}

body {  
    padding: 16px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.button {
    margin: 0px 2px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 2px 12px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #0366d6;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

.button.active {
    color: #ffffff;
    background-color: #0366d6;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}

.button:hover {
    color: #ffffff;
    background-color: #0366d6;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}